* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    color: white;
    font-size: 20px;
    width: 1280px;
    height: 700px;
    background: #121214;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.watching {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    justify-content: center;
}


.logo {
    width: 229px;
    height: 68px;
    margin-top: 42px;
    margin-left: 250px;
}

.profiles {
    width: 718px;
    height: 160px;
    margin-top: 61px;
    display: flex;
    justify-content: space-around;
    text-align: center;

}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #9C9C9C;
    margin-top: 20px;
}

.profiles .profileUser figure {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    width: 160px;
    height: 160px;
    background-color: #1e1e20;
    transition-duration: 0.3s;
    overflow: hidden;
}

.profileUser figure img:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
    border: white 1px solid;
    border-radius: 12px;
    cursor: pointer;
}

.manageProfiles {
    width: 206px;
    height: 50px;
    border: 1px white solid;
    border-radius: 8px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    margin-left: 260px;
}
.manageProfiles:hover{
    cursor: pointer;
    transition: ease-in-out .3s;
}